/* 清楚网页默认样式 */
*{
	margin: 0;
	padding: 0;
}

/* 导航栏 */
.nav-style{
	width: 100%;
	height:50px;
	opacity: 0.7;//设置透明度
}

/* 列表小圆点去除 */
.nav-style > ul{
	list-style: none;
}

/* 设置左浮动让列表水平排列 */
.nav-style > ul li{
	float:left;
}

/* 导航栏字体样式 */
.nav-style ul li{
	color: #FFF;
	font-family: 楷体;
	font-size: 25px;
	line-height: 50px;
	margin-left: 50px;

}

.nav-style ul li a{
	text-decoration: none;
	color: #FFF;
}

.nav-style ul li a:hover{
	text-decoration: none;
	color: #000;
}

/* 导航栏菜单选中状态 */
.nav-style ul li:hover{
	color: #000;
	cursor: pointer;
	background-color: #E87529;
	border-radius: 20px;
}

/* "首页"样式 */
.homepage{
	color: #FFF;
	font-family: 方正舒体;
	font-size: 35px;
	line-height: 50px;
	margin-left: 100px;
	float: left;
	cursor: pointer;
}




